
@import '~bootstrap/dist/css/bootstrap.min.css';
  
body {
    margin: 0; 
    padding: 0;
  }
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .col-md-8, .col-md-4 {
    padding: 10px;
  }
  